<html>
<head>
    <script src="categoryGoods.html"></script>
</head>
<body>

    <h2>Se alle varer under enkelte kategorier</h2>

  
<button id='seMode'>Se mode</button>
<table id="Mode"></table>

<button id='seHjem'>Se hjem</button>
<table id="Hjem"></table>

<button id='seSport'>Se sport</button>
<table id="Sport"></table>

<script>
document.getElementById("seMode").addEventListener("click", async () => {
let table = document.getElementById('Mode');   

let user = JSON.parse(localStorage.getItem("user"));


    let result = await fetch('http://localhost:3000/goods/returner_alle_varer/' + user.category, {method: 'GET'})
        .then(res => res.json())
        .catch(err => console.log(err));
        let tableHtml = `
        <tr>
            <th>Kategori</th>
            <th>Pris</th>
            <th>Billede</th>
            

        </tr>
        `;
        console.log(result)

        result.forEach((goods) => {
            tableHtml += `
            <tr>
                <td>${goods.category}</td>
                <td>${goods.price}</td>
                <td>${goods.picture}</td>
                
                

            `;
    table.innerHTML = tableHtml

            });
        
});






























</script>

</body>
</html>