<html>
  <head>
    <script src="createGood.js"></script>
  </head>
  <body>
    <h1>Opret varer</h1>
    <p>Her kan du oprette varer du ønsker at sælge:</p>

      <form id="form">
          <label for="category">Vælg en kategori:</label>
          <select id="category" name="category">
            <option value="Home">Hjem</option>
            <option value="Sport">Sport</option>
            <option value="Fashion">Mode</option>
          </select>
        </input>
        <input placeholder="Pris" id="price"/>
        <input type="file" name="fileToUpload" id="picture">
        <input value="Opret" type="submit" />
      </form>

      <form id="delete">
        <input value="Slet varer" type="submit" />
      </form>

      <p id="demo"></p>
    </form>
<br>
    <button id="update" value="Submit" type="submit" onclick="updateGood()"class="profile-btn">Opdater vare</button>
  </body>

  <p>Kom tilbage til forsiden:</p>
    <a href="index.html">Forside</a>
</html>