<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

  <h1>Succesfully logged in!</h1>

  <form id="login"></form>
   <input value="Log out" type="submit"/><br>
<br>
  <form id="delete">
    <input value="Delete" type="submit" /><br>
<br>
  <form id="login"></form>
  <input value="Update" type="submit"/>
  
  </form>
  
<script src="index.js"></script>
</body>
</html>