<html>
  <head>
    <script src="index.js"></script>
  </head>
  <body>
    <h1>Velkommen til din side!</h1>
    <p>Du kan nu ændre din profil eller sætte varer til salg!</p>
    <br>
    <p>Her sletter du din bruger:</p>
    <form id="delete">
      <input value="Slet bruger" type="submit" />
    </form>
<br>
    <p>Her logger du ud af din bruger:</p>
    <form id="logout">
      <input value="Log ud" type="submit" onclick="logOutButton()"/>
    </form>
<br>
<br>
<p>Her kan du opdatere dine log ind oplysninger:</p>
    <a href="update.html">Opdater oplysninger</a>
<br>
<br>
<br>
<p>Her kan du oprette varer du ønsker at sælge:</p>
    <a href="createGood.html">Opret varer</a>
<br>
<br>
<br>
<p>Her kan du se alle varer du har til salg:</p>
    <a href="allGoods.html">Mine varer</a>



  </body>
</html>