<html>
  <head>
    <script src="register.js"></script>
  </head>
  <body>
    <h1>Welcome to GreenFeria!</h1>
    <p>For at komme igang med en grønnere hverdag, må du først oprette dig:</p>
    <form id="form">
      <input placeholder="Email" id="email" /><br>
      <br>
      <input placeholder="Password" id="password" /><br>
      <br>
      <input value="Opret" type="submit" /><br>
<br>
      <p>Har du allerede en konto, kan du klikke her for at logge ind:</p>

      <a href="login.html">Log ind</a>

    </form>
  </body>
</html>