<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
</head>
<body>

<div class="container">
    <div class="header2">
        <h3>Opdater din profil</h3>
    </div>

        <label id="form" for="">Email: </label> <br>
            <input type="email" name="email" id="newEmail" placeholder="Indtast ny email">
    
            <br><br><br>

        <label for="">Password:</label>
        <br>
            <input type="password" name="password" id="newPassword" placeholder="Indtast nyt password">
   
            <br><br><br>


            <button id="update" value="Submit" type="submit" onclick="updateUser()"class="profile-btn">Opdater bruger</button>
    </form>

    <script src="../views/index.html"></script>
    <script src="update.js"></script>

</body>